.note {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 1.5px solid #fff;
    color: #fff;
    padding: 1rem;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}

/* style the note text*/
.note__body {
    margin-bottom: 1rem;
    flex-grow: 1;
  }

.note__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 10px;
}

/*style the date*/
.note__date {
    font-size: 18px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    padding: 0.1rem;
}
.note textarea {
    white-space: pre-wrap;
    background: none;
    border: none;
    color: #fff;
    resize: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.note textarea:focus {
    outline: none;
}
.note textarea::placeholder {
    color: #fff;
}
/*style the save button*/
.note__save {
    background: none;
    transition: 0.1s ease-in-out;
    border: 1.5px solid #fff;
    border-radius: 30px;
    color: #fff;
    padding: 4px 10px;
    font-size: 14px;
    cursor: pointer;
}
.note__save:hover {
    background: none;
    border: 1.5px solid #fff;
    color: #fff;
}
/*style the delete button*/
.note__delete {
    cursor: pointer;
    background-color: transparent;
    border: none;
    overflow: hidden;
    transition: .3s;
    
}
.note__delete:hover {
    transform: scale(1.1);
    transition: .3s;
}